<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946442540515-ot8r2lokrjce81ksaqmnpdu5jegcpkrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946442540515-ot8r2lokrjce81ksaqmnpdu5jegcpkrh</string>
	<key>API_KEY</key>
	<string>AIzaSyBmgexd9KmdyeFOSpA2EicqUYwfsT-keE8</string>
	<key>GCM_SENDER_ID</key>
	<string>946442540515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.israel-ltd.yass</string>
	<key>PROJECT_ID</key>
	<string>yass-drc</string>
	<key>STORAGE_BUCKET</key>
	<string>yass-drc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946442540515:ios:131d42aff1be809985bcd6</string>
</dict>
</plist>
